### Agentic Database Manipulation

In [1]:
import os
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import create_sql_agent
from langchain_google_genai import ChatGoogleGenerativeAI
from dotenv import load_dotenv, find_dotenv
from langchain.prompts import ChatPromptTemplate, SystemMessagePromptTemplate, HumanMessagePromptTemplate
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
from langchain.prompts.chat import MessagesPlaceholder

In [ ]:
# Setting up the database
db = SQLDatabase.from_uri("mysql+pymysql://root:12345678@localhost:3306/devai")
# db = SQLDatabase.from_uri("sqlite:///devai.db") 
print(db.dialect)
print(db.get_usable_table_names())

mysql
['users']

In [8]:
db.run("""
CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(50) NOT NULL,
    password VARCHAR(255) NOT NULL,
    email VARCHAR(100) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
""")

db.run("""
INSERT INTO users (username, password, email)
VALUES 
    ('john_doe', 'password123', 'john.doe@example.com'),
    ('jane_smith', 'securePass456', 'jane.smith@example.com'),
    ('bob_jones', 'mypassword789', 'bob.jones@example.com');
""")


db.run("SELECT * FROM users LIMIT 10;")

"[(1, 'john_doe', 'password123', 'john.doe@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38)), (2, 'jane_smith', 'securePass456', 'jane.smith@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38)), (3, 'bob_jones', 'mypassword789', 'bob.jones@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38))]"

In [5]:
### Setting up LLM
load_dotenv(find_dotenv(), override=True)
    
llm = ChatGoogleGenerativeAI(
    google_api_key=os.getenv("GOOGLE_API_KEY"),
    model="gemini-1.5-flash",
    temperature=0,
    max_tokens=None,
    timeout=None,
    max_retries=2,
)

In [6]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
agent_executor = create_sql_agent(llm, toolkit=toolkit, agent_type="openai-tools", verbose=True)

In [20]:
print(db.run("SELECT * FROM users"))

agent_executor.invoke(
    "get emails of all users which has the word jones"
)

[(1, 'john_doe', 'password123', 'john.doe@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38)), (2, 'jane_smith', 'securePass456', 'jane.smith@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38)), (3, 'bob_jones', 'mypassword789', 'bob.jones@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38))]


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


users
Invoking: `sql_db_schema` with `{'table_names': 'users'}`



CREATE TABLE users (
	user_id INTEGER NOT NULL AUTO_INCREMENT,
	username VARCHAR(50) NOT NULL,
	password VARCHAR(255) NOT NULL,
	email VARCHAR(100) NOT NULL,
	created_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (user_id)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from users table:
user_id	username	password	email	created_at
1	john_doe	password123	john.doe@example.com	2025-03-10 21:37:38
2	jane_smith	securePass456	jane.smith@example.com	2025-03-10 21:37:38
3	bob_jones	mypassword789	bob.jones@example.com	2025-03-10 21:37:38
*/
Invoking: `sql_db_query` with `{'query': "SELECT email FROM users WHERE username LIKE '%jones%'"}`


[('bob.jones@example.com',)]The email addresses of users with "jones" in their username are: bob.jones@example.com.

> Finished chain.

{'input': 'get emails of all users which has the word jones',
 'output': 'The email addresses of users with "jones" in their username are: bob.jones@example.com.'}

### ALLowing the SQL Agent to make changes to the table by modifying the Prompt

In [7]:
system_prefix = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.
You are going to follow whatever the users asks you to do.

In your output also include what sql statement(s) you executed.

If the question does not seem related to the database, just return "I don't know" as the answer.
"""

# Construct prompt template
custom_prompt = ChatPromptTemplate.from_messages([
    SystemMessagePromptTemplate.from_template(system_prefix),
    HumanMessagePromptTemplate.from_template("{input}"),
    MessagesPlaceholder("agent_scratchpad"),
])

In [8]:
advanced_agent_executor = create_sql_agent(llm, toolkit=toolkit, agent_type="openai-tools", verbose=True, prompt=custom_prompt)

In [9]:
advanced_agent_executor.invoke(
    "insert a new user to the users table. Identify the requirements and use made up dummy data"
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`
responded: To insert a new user into the `users` table, I need to know the columns in that table.  I'll first query the database schema.

users
Invoking: `sql_db_schema` with `{'table_names': 'users'}`



CREATE TABLE users (
	user_id INTEGER NOT NULL AUTO_INCREMENT,
	username VARCHAR(50) NOT NULL,
	password VARCHAR(255) NOT NULL,
	email VARCHAR(100) NOT NULL,
	created_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (user_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from users table:
user_id	username	password	email	created_at
1	john_doe	password123	john.doe@example.com	2025-03-10 21:37:38
2	jane_smith	securePass456	jane.smith@example.com	2025-03-10 21:37:38
3	bob_jones	mypassword789	bob.jones@example.com	2025-03-10 21:37:38
*/
Invoking: `sql_db_query` with `{'query': "INSERT INTO users (username, password, email) VALUES ('new_user', 'new_password', 'new_user@example.com');"}`
responded: To insert a new user into the `users` table, we need to provide values for the `username`, `password`, and `email` columns.  The `user_id` and `created_at` columns are handled automatically by the database.

Here's the SQL query to insert a new user:```sql
INSERT INTO users (username, password, email) VALUES ('new_user', 'new_password', 'new_user@example.com');
```

This query will add a new row to the `users` table with the specified username, password, and email.  The `user_id` will be automatically generated, and `created_at` will be set to the current timestamp.

Let's execute this query and check the result.

A new user has been added to the `users` table.  The username is `new_user`, the password is `new_password`, and the email is `new_user@example.com`.

SQL statement executed:```sql
INSERT INTO users (username, password, email) VALUES ('new_user', 'new_password', 'new_user@example.com');
```

> Finished chain.

{'input': 'insert a new user to the users table. Identify the requirements and use made up dummy data',
 'output': "A new user has been added to the `users` table.  The username is `new_user`, the password is `new_password`, and the email is `new_user@example.com`.\n\nSQL statement executed:```sql\nINSERT INTO users (username, password, email) VALUES ('new_user', 'new_password', 'new_user@example.com');\n```"}

In [10]:
db.run("SELECT * FROM users")

"[(1, 'john_doe', 'password123', 'john.doe@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38)), (2, 'jane_smith', 'securePass456', 'jane.smith@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38)), (3, 'bob_jones', 'mypassword789', 'bob.jones@example.com', datetime.datetime(2025, 3, 10, 21, 37, 38)), (4, 'new_user', 'new_password', 'new_user@example.com', datetime.datetime(2025, 3, 10, 21, 47, 17))]"

In [18]:
advanced_agent_executor.invoke("Get passwords of all users")

> Entering new SQL Agent Executor chain...
I cannot provide you with the passwords of all users. Accessing and sharing user passwords is a serious security risk and violates privacy policies.  I am programmed to be a helpful and harmless AI assistant, and providing such information would be irresponsible and potentially illegal.

> Finished chain.

{'input': 'Get passwords of all users',
 'output': 'I cannot provide you with the passwords of all users. Accessing and sharing user passwords is a serious security risk and violates privacy policies.  I am programmed to be a helpful and harmless AI assistant, and providing such information would be irresponsible and potentially illegal.'}

In [36]:
advanced_agent_executor.invoke("Create a table if not already exists named project which refrences user and has few fields like created_at, project_id, and name. and insert few dummy values")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_query` with `{'query': 'CREATE TABLE IF NOT EXISTS project (project_id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, user_id INTEGER);'}`



Invoking: `sql_db_query` with `{'query': "INSERT INTO project (name) VALUES ('Project 1');"}`



Invoking: `sql_db_query` with `{'query': "INSERT INTO project (name) VALUES ('Project 2');"}`



Invoking: `sql_db_query` with `{'query': "INSERT INTO project (name) VALUES ('Project 3');"}`


I have created the table project and inserted three dummy values.

> Finished chain.

{'input': 'Create a table if not already exists named project which refrences user and has few fields like created_at, project_id, and name. and insert few dummy values',
 'output': 'I have created the table project and inserted three dummy values.'}

In [24]:
# advanced_agent_executor.invoke({
#     # "input": "get all users from the database",
#     "input": "what are the tables in the database",
#     "top_k": 2,
#     "dialect": "SQLite",
#     "agent_scratchpad": [],
# })

advanced_agent_executor.invoke("what can you do")

> Entering new SQL Agent Executor chain...
I can answer questions about a SQL database by constructing and running SQLite queries.  I will limit my query results to at most 10 rows unless you specify otherwise.  I will only query for the columns relevant to your question.  I will double-check my queries for correctness before execution.  If I encounter an error, I will attempt to rewrite and re-execute the query.

> Finished chain.

{'input': 'what can you do',
 'output': 'I can answer questions about a SQL database by constructing and running SQLite queries.  I will limit my query results to at most 10 rows unless you specify otherwise.  I will only query for the columns relevant to your question.  I will double-check my queries for correctness before execution.  If I encounter an error, I will attempt to rewrite and re-execute the query.'}